*.user
.qmake.stash
Makefile
bin/**
build/**
qtgzmanager.pro.user
qrc_resources.cpp
sudo/*.qm
sudo/*.o
sudo/*.pro.user
sudo/qmake*.qrc
sudo/Makefile
sudo/qtgzmanager-sudo
sudo/moc*.*
sudo/qrc*.cpp
sudo/ui_pass*.h
